@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/CustomerRegistration/CustomerRegistration.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="~/Scripts/toastr.js"></script>

    <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <style>
        .input-group-addon {
            border: none !important;
        }
    </style>
</head>
<body>
    <div class="top-header-section">
        <div class="logo-section-details">
            <div class="container">
                <div class="row">
                    <div class="top-logo-block">
                        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6 logo-blocks">
                            <div class="logo-img">
                                <img src="~/Images/geneinsure-logo.png">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6 renew-blocks">
                            <div class="text-right">
                                <div class="renew-btn">
                                    <a href="javascript:void(0);">Buy/Renew : 1800 2700 700  </a>
                                </div>
                                <div class="login-btn">
                                    <ul class="list-inline">
                                        <li><a href="/Account/Login">Login</a></li>
                                        <li><a href="">Register</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-navigation">
            <nav class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/InsuranceHome/Index">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Our Busniess</a></li>
                            <li><a href="#">Investor Relations</a></li>
                            <li><a href="#">Social Responsibility</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>

    </div>
    <div>
        @RenderBody()
    </div>
    <div class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 footer-content">
                    <div class="logo-img">
                        <img src="~/Images/geneinsure-logo.png">
                    </div>
                    <div class="ftr-about-content">
                        <p>Genetic Financial Services (Pvt) Ltd<br>11 Routledge Road ,Milton Park<br>Belvedere ,Harare</p>
                    </div>
                    <div class="details-list">
                        <ul>
                            <li><a href="">Tel: <strong>+263 867 700 7491</strong></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 footer-newsletter">
                    <div class="newsletter-box">
                        <h4 class="footer-heading">Sign Up Newsletter</h4>
                        <p>Make sure you don’t miss interesting happenings by joining our newsletter program. Sign up by entering your email address bellow.</p>
                    </div>
                    <div class="news-form-group">
                        <div class="newsgroup">
                            <input type="text" placeholder="Email Address">
                            <button type="button">Subscribe</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 footer-links">
                    <div class="quick-links">
                        <h4 class="footer-heading">Quick Links</h4>
                        <ul>
                            <li><a href="/InsuranceHome/Index"><i class="fa fa-angle-right"></i> Home</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i> About Us</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i> Our Partners</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i> Our Services</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i> Contact Us</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-sm-3 footer-content">

                    <div class="quick-links">
                        <h4 class="footer-heading">Quick Links</h4>
                        <ul>
                            <li><a href="/InsuranceHome/Index"><i class="fa fa-angle-right"></i> Home</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i> About Us</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i> Our Partners</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i> Our Services</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i> Contact Us</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="chat-box">
        <div class="online-caht-box">
            <h4>Online Chat <span class="online-dot"></span></h4>
        </div>
    </div>
    <script>
        $(document).ready(function () { // will trigger when the document is ready
            $('.date').datetimepicker({
                format: 'MM/D/YYYY',
            })
        });

    </script>

</body>

</html>
