@model InsuranceClaim.Models.ListZTSCLevyReportModels
@{
    ViewBag.Title = "ZTSCLevyReport";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}




<div class="productsave-section">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 products-top">
                <div class="head-title">
                    <h2>ZTSC Levy Report</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 add-btn">
                <div class="text-right">
                    @*<button type="button" class="btn btn-primary">Add</button>*@
                  



                </div>
            </div>
        </div>
        <div class="product-table-grid">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Policy Number</th>
                        <th>Transaction Date</th>
                        <th>Premium Due</th>
                        <th>ZTSC Levy</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListZTSCreportdata.ToList())
                    {
                    <tr>
                        <td>@item.Customer_Name</td>
                        <td>@item.Policy_Number</td>
                        <td>@item.Transaction_date</td>
                        <td>$@item.Premium_due</td>
                        <td>$@item.ZTSCLevy</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>