<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<div style="margin:0 auto; width:900px; font-family:arial;">
    <table width="900" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
        <thead>
            <tr>
                <th style="width:50%; text-align:left;">
                    <img src="http://geneinsureclaim.kindlebit.com/Images/geneinsure-logo1.png" style="width:290px" />
                </th>
                <th style="width:50%; text-align:left">
                    <div style="float:right">
                        <p style="font-size:12px; margin:0 0 3px 0;">Genetic Financial Services</p>
                        <p style="font-size:12px; margin:0 0 3px 0;">11 Routledge Street</p>
                        <p style="font-size:12px; margin:0 0 3px 0;">Milton Park</p>
                        <p style="font-size:12px; margin:0 0 3px 0;">Harare</p>
                    </div>
                </th>

            </tr>
            <tr>
                <td colspan="2">
                    <div style="text-align:right">
                        <p style="margin:0 0 3px; font-size:14px; color:#444;">GENEINSURE CONTACT</p>
                        <p style="margin:0 0 3px; font-size:14px; color:#444;">Call us on - +263 867 722 33 44</p>
                        <p style="margin:0 0 3px; font-size:14px; color:#444;">Whatsapp us on – +263 719 884 884 / +263 732 884 884</p>
                        <p style="margin:0 0 3px; font-size:14px; color:#000;"><strong>Email us on: Service@gene.co.zw</strong></p>
                    </div>
                </td>
            </tr>
        </thead>
    </table>
    <br />
    <br />
    <table>
        <tr>
            <td>
                <p>Hello ##FirstName## ##LastName##</p>
                <p>Your Account Wallet have been credited with $##CreditedWalletAmount## Loyalty Points, Your total Wallet balance is $##TotalWalletBalance##</p>
                <br />
            </td>
        </tr>
    </table>
    <table style="width:100%;">
        <tbody>
            <tr style="width:50%;text-align:left;float: left;">
                <td colspan="2" style="padding:0px; color:#444; font-size:14px;"><p>Thank you.<br />Yours Sincerely<br />GENERAL MANAGER – SALES</p></td>
               
            </tr>
            <tr>
                <td align="left" style="padding: 0 5px;  word-break: break-all; text-align:left"> <img src="http://geneinsureclaim.kindlebit.com/Images/Geneinsuresign.png" /></td> 
            </tr>




        </tbody>
    </table>

</div>

<body>
</body>
</html>
