<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<style>
    table {
    border: 1px solid #000;
}
</style>
<body>
    <div style="margin:0 auto; width:500px; font-family:arial;">
        <table width="500" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
            <tr><td colspan="3" style="background: black;color: white;text-align: center; padding: 5px;">GEN-INSURE</td></tr>
            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;"></td></tr>
            <tr><td style="padding: 0 5px;">Branch</td><td></td><td></td></tr>
            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;"></td></tr>
            <tr><td colspan="3" style="background: black;color: white;text-align: center; padding: 5px;">Payment Reciept</td></tr>
            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;"></td></tr>
            <tr><td style="padding: 0 5px;">DATE</td><td></td><td style="padding: 0 5px; text-align:right;">DATE</td></tr>
            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;"></td></tr>
            <tr><td style="padding: 0 5px;">Receipt Number</td><td></td><td style="padding: 0 5px; text-align:right;">Receipt Number</td></tr>
            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;"></td></tr>
            <tr><td style="padding: 0 5px;">Account Name</td><td></td><td style="padding: 0 5px; text-align:right;">Account Name</td></tr>
            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;"></td></tr>
            <tr><td style="padding: 0 5px;">Amount</td><td></td><td style="padding: 0 5px; text-align:right;">Amount</td></tr>
            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;"></td></tr>
            <tr><td style="padding: 0 5px;">Payment Details</td><td></td><td style="padding: 0 5px; text-align:right;">Payment Details</td></tr>
            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;"></td></tr>
            <tr><td style="padding: 0 5px;">Payment Type</td><td></td><td style="padding: 0 5px; text-align:right;">Payment Type</td></tr>
            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;"></td></tr>
        </table>
    </div>
</body>
</html>
