<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<style>
    table {
        border: 1px solid #000;
    }
</style>
<body>
    <div style="margin:0 auto; font-family:arial; width:900px">
        <table width="565" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; border: 1px solid #000; width:900px">
            <tr>
                <td colspan="3" style="background: black;color: white;text-align: center; padding:10px; font-size:16px;">FACULTIVE REINSURANCE SUMMARY</td>
            </tr>
            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;"></td></tr>
            <tr>
                <td colspan="3" style="background: black;color: white;text-align: center; padding:10px; font-size:16px;">GENE-INSURE LOGO & REGISTRATION/CONTACT DETAILS</td>
            </tr>
            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;"></td></tr>

            <tr>
                <th style="width:50%; text-align:left;">
                    <img width="250" src="http://geneinsureclaim.kindlebit.com/Images/geneinsure-logo1.png" style="width:290px" />
                </th>
                <td></td>
                <td style="text-align:right; padding:0 10px; font-size:14px"> Genetic Financial Services<br />11 Routledge Street<br />Milton Park<br />Harere</td>
            </tr>

            <tr>
                <td style="height:20px;"></td>
                <td style="height:20px;"></td>
                <td style="height:20px;border-right:1px solid #000;"></td>
            </tr>

        </table>
        <br />
        <table width="565" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse; width:900px
		;">
            <tr>
                <td colspan="7" style="background: black;color: white;text-align: center; padding:10px; font-size:16px;">DETAILS</td>
            </tr>

            <tr>
                <td style="width:50%; padding:10px; vertical-align:top;">
                    <table width="100%" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;">Policy Number: </td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;">##PolicyNo##</td>
                        </tr>
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;">Customer name :</td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;">##FirstName## ##LastName##</td>
                        </tr>
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;">Cell number:</td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;">##Cellnumber##</td>
                        </tr>
                    </table>
                </td>
            </tr>



        </table>


        <table width="565" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:900px;">
            <tr>
                <td colspan="7" style="background: black;color: white;text-align: center; padding:10px; font-size:16px;">SUMMARY OF VEHICLES INSURED</td>
            </tr>
            <tr>
                <td style="padding:7px 10px; font-size:14px">Vehicle Make/Model</td>
                <td style="padding:7px 10px; font-size:14px">Sum Insured</td>
                <td style="padding:7px 10px; font-size:14px">Premium</td>
                <td style="padding:7px 10px; font-size:14px">Auto-Facultative Sum Insured</td>
                <td style="padding:7px 10px; font-size:14px">Auto-Facultative Premium</td>
                <td style="padding:7px 10px; font-size:14px">Facultative Sum Insured</td>
                <td style="padding:7px 10px; font-size:14px">Facultative Premium</td>
            </tr>
            <tfoot>
                ##SummeryofVehicleInsured##
            </tfoot>

        </table>


        <table style="width:100%; border :none">
            <tbody>
                <tr>
                    <td align="left" colspan="2" style="padding:20px 0 10px; color:#444; font-size:14px; text-align = left;">Thank you.</td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding:20px 0 10px; color:#444; font-size:14px; text-align = left;">Yours Sincerely</td>
                </tr>
                <tr>
                    <td align="left" style="padding: 0 5px;  word-break: break-all; text-align:left"> <img src="http://geneinsureclaim.kindlebit.com/Images/Geneinsuresign.png" /></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding:7px 0 10px; color:#444; font-size:14px; text-align:left;">GENERAL MANAGER – SALES</td>
                </tr>


            </tbody>

        </table>

    </div>
</body>
</html>

