<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<style>
    table {
        border: 1px solid #000;
    }
</style>
<body>
    <div style="margin:0 auto; font-family:arial;">
        <table width="565" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; border: 1px solid #000;">
            <tr>
                <td colspan="3" style="background: black;color: white;text-align: center; padding:10px; font-size:16px;">FACULTIVE REINSURANCE SUMMARY</td>
            </tr>
            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;"></td></tr>
            <tr>
                <td colspan="3" style="background: black;color: white;text-align: center; padding:10px; font-size:16px;">GENE-INSURE LOGO & REGISTRATION/CONTACT DETAILS</td>
            </tr>
            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;"></td></tr>

            <tr>
                <td style="padding: 0 5px;"> <img src="http://geneinsurequote.kindlebit.com/Images/geneinsure-logo.png" /></td>
                <td></td>
                <td style="text-align:right; padding:0 10px; font-size:14px"> Genetic Financial Services<br />11 Routledge Street<br />Milton Park<br />Harere</td>
            </tr>

            <tr>
                <td style="height:20px;"></td>
                <td style="height:20px;"></td>
                <td style="height:20px;border-right:1px solid #000;"></td>
            </tr>

        </table>
        <br />
        <table width="565" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
            <tr>
                <td colspan="7" style="background: black;color: white;text-align: center; padding:10px; font-size:16px;">DETAILS</td>
            </tr>

            <tr>
                <td style="width:50%; padding:10px; vertical-align:top;">
                    <table width="100%" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;">Policy Number: </td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;">##PolicyNo##</td>
                        </tr>
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;">Customer name :</td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;">##FirstName## ##LastName##</td>
                        </tr>
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;">Cell number:</td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;">##Cellnumber##</td>
                        </tr>                        
                    </table>
                </td>                
            </tr>



        </table>


        <br />
        @*<table width="565" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                <tr>
                    <td colspan="7" style="background: black;color: white;text-align: center; padding:10px; font-size:16px;">SUMMARY OF REINSURANCE</td>
                </tr>
                <tr>
                    <td style="padding:7px 10px; font-size:14px">Reinsurance ID</td>
                    <td style="padding:7px 10px; font-size:14px">Treaty Code</td>
                    <td style="padding:7px 10px; font-size:14px">Treaty Name</td>
                    <td style="padding:7px 10px; font-size:14px">Reinsurance Amount</td>
                    <td style="padding:7px 10px; font-size:14px">Reinsurance Broker</td>
                    <td style="padding:7px 10px; font-size:14px">Reinsurance Premium</td>
                    <td style="padding:7px 10px; font-size:14px">Broker Commission</td>
                </tr>

                <tfoot>
                    ##SummeryofReinsurance##
                </tfoot>

            </table>*@
        <br />
        <table width="565" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
            <tr>
                <td colspan="7" style="background: black;color: white;text-align: center; padding:10px; font-size:16px;">SUMMARY OF VEHICLES INSURED</td>
            </tr>
            <tr>
                <td style="padding:7px 10px; font-size:14px">Vehicle Make/Model</td>
                <td style="padding:7px 10px; font-size:14px">Sum Insured</td>
                <td style="padding:7px 10px; font-size:14px">Premium</td>
                <td style="padding:7px 10px; font-size:14px">Auto-Facultative Sum Insured</td>
                <td style="padding:7px 10px; font-size:14px">Auto-Facultative Premium</td>
                <td style="padding:7px 10px; font-size:14px">Facultative Sum Insured</td>
                <td style="padding:7px 10px; font-size:14px">Facultative Premium</td>
            </tr>
            <tfoot>
                ##SummeryofVehicleInsured##
            </tfoot>

        </table>

        <br />

    </div>
</body>
</html>

