<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<div style="margin:0 auto; width:900px; font-family:arial;">
    <table width="900" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
        <thead>
            <tr>
                <th style="width:50%; text-align:left;">
                    <img src="http://geneinsureclaim.kindlebit.com/Images/geneinsure-logo1.png" style="width:290px;" />
                </th>
                <th style="width:50%; text-align:left">
                    <div style="float:right">
                        <p style="font-size:12px; margin:0 0 3px 0;">Genetic Financial Services</p>
                        <p style="font-size:12px; margin:0 0 3px 0;">11 Routledge Street</p>
                        <p style="font-size:12px; margin:0 0 3px 0;">Milton Park</p>
                        <p style="font-size:12px; margin:0 0 3px 0;">Harare</p>
                    </div>
                </th>
            </tr>
        </thead>
    </table>
    <table width="900" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin:50px 0 0">
        <tbody>

            <tr>
                <td style="width:35%;">
                    <p style="margin:0 0 3px; padding:0 0; font-size:14px; color:#444;">##FirstName## ##LastName##</p>
                    <p style="margin:0 0 3px; font-size:14px; color:#444;">##Address1##</p>
                    <p style="margin:0 0 3px; font-size:14px; color:#444;">##Address2##</p>
                </td>
                <td style="width:65%;">
                    <p style="margin:0 0 3px; font-size:14px; color:#444;">GENE-INSURE CONTACT</p>
                    <p style="margin:0 0 3px; font-size:14px; color:#444;">Call us on - 08677007491</p>
                    <p style="margin:0 0 3px; font-size:14px; color:#444;">Whatsapp us on – 0713 111 111</p>
                    <p style="margin:0 0 3px; font-size:14px; color:#000;"><strong>Email us on: service@gene-insure.co.zw</strong></p>
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <td>
                <p>Hello ##FirstName## ##LastName##</p>
                <br />
                <p>Your Vehicle ##Make## ##Model## will Expire in ##numberofDays## days i.e on ##RenewDate##. Please Renew/Repay for your next Payment Term before the Renewal date of ##RenewDate## to continue your services otherwise your vehicle will get Lapsed.</p>
                <br />                
            </td>
        </tr>
    </table>
    <table>
        <tbody>
            <tr>
                <td colspan="2" style="padding:20px 0 10px; color:#444; font-size:14px;">Thank you.</td>
                <td colspan="2" style="padding:20px 0 10px; color:#444; font-size:14px;">Yours Sincerely</td>
                <td colspan="2" style="padding:30px 0 10px; color:#444; font-size:14px;">GENERAL MANAGER – SALES</td>
                <td align="right" style="padding: 0 5px;  word-break: break-all; text-align:right"> <img src="http://geneinsureclaim.kindlebit.com/Images/Geneinsuresign.png" /></td>
            </tr>            
        </tbody>
    </table>

</div>

<body>
</body>
</html>
