<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<style>
    table {
        border: 1px solid #000;
    }
</style>
<body>
    <div style="margin:0 auto; width:900px; font-family:arial;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
            <tr>
                <td colspan="3" style="background: black;color: white;text-align: center; padding:10px; font-size:16px;">POLICY SCHEDULE/SUMMARY OF YOUR COVER</td>
            </tr>
            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;"></td></tr>
            <tr>
                <td colspan="3" style="background: black;color: white;text-align: center; padding:10px; font-size:16px;">GENE-INSURE LOGO & REGISTRATION/CONTACT DETAILS</td>
            </tr>
            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;"></td></tr>

            <tr>
                <td style="padding: 0 5px;"> <img src="http://geneinsurequote.kindlebit.com/Images/geneinsure-logo.png" /></td>
                <td></td>
                <td style="text-align:right; padding:0 10px; font-size:14px"> Genetic Financial Services<br />11 Routledge Street<br />Milton Park<br />Harere</td>
            </tr>

            <tr>
                <td style="height:20px;"></td>
                <td style="height:20px;"></td>
                <td style="height:20px;border-right:1px solid #000;"></td>
            </tr>

        </table>
        <br />
        <table width="900" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
            <tr>
                <td colspan="7" style="background: black;color: white;text-align: center; padding:10px; font-size:16px;">YOUR PERSONAL DETAILS</td>
            </tr>

            <tr>
                <td style="width:50%; padding:10px; vertical-align:top;">
                    <table width="100%" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;">Policy Number: </td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;">##PolicyNo##</td>
                        </tr>
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;">Policy Holder Name :</td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;">##FirstName## ##LastName##</td>
                        </tr>
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;">Cell number:</td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;">##Cellnumber##</td>
                        </tr>
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;">Alternative Contact Number</td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;"></td>
                        </tr>
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;">Email Address </td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;">##Email##</td>
                        </tr>
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;">Postal Address </td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;">##PostalAddress##</td>
                        </tr>
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;">Date of Birth </td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;">##BirthDate##</td>
                        </tr>
                    </table>
                </td>
                <td style="width:50%; padding:10px; vertical-align:top;">
                    <table width="100%" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;">Policy InceptionDate :</td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;">##InceptionDate##</td>
                        </tr>
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;">Effective Date of this Endorsement </td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;"></td>
                        </tr>
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;">Your Renewal Date: </td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;">##Renewal##</td>
                        </tr>
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;">Your Package:</td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;">##package##</td>
                        </tr>
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;">Physical Address </td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;">##Address1## ##Address2##</td>
                        </tr>
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;">ID Number </td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;"></td>
                        </tr>
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;">Frequency </td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;"></td>
                        </tr>
                    </table>
                </td>
            </tr>



        </table>


        <br />
        <table width="900" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
            <tr>
                <td colspan="7" style="background: black;color: white;text-align: center; padding:10px; font-size:16px;">SUMMARY OF YOUR COVER</td>
            </tr>
            <tr>
                <td style="padding:7px 10px; font-size:14px">Vehicle description</td>
                <td style="padding:7px 10px; font-size:14px">Sum insured</td>
                <td style="padding:7px 10px; font-size:14px">Cover type</td>
                <td style="padding:7px 10px; font-size:14px">Vehicle usage</td>
                <td style="padding:7px 10px; font-size:14px">Sound system</td>
                <td style="padding:7px 10px; font-size:14px">Excess</td>
                <td style="padding:7px 10px; font-size:14px">Premium</td>
            </tr>

            <tfoot>
                ##Summeryofcover##
            </tfoot>

        </table>
        <br />
        <table width="500" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
            <tr>
                <td colspan="2" style=" font-size:16px;background:=font-size:16px;background: black;color:=black;color white;text-align:=white;text-align center;=center; padding:10px;"=padding:10px;">EXTENSIONS & OPTIONAL COVERS</td>
            </tr>
            <tr>
                <td style="width:50%; padding:7px 10px; font-size:15px;">Passenger Accident Cover</td>
                <td style="width:50%; padding:7px 10px; font-size:14px;"></td>
            </tr>
            <tr>
                <td style="width:50%; padding:7px 10px; font-size:15px;">Excess Buy Back</td>
                <td style="width:50%; padding:7px 10px; font-size:14px;"></td>
            </tr>
            <tr>
                <td style="width:50%; padding:7px 10px; font-size:15px;">Roadside Assitance</td>
                <td style="width:50%; padding:7px 10px; font-size:14px;"></td>
            </tr>
            <tr>
                <td style="width:50%; padding:7px 10px; font-size:15px;">Medical Expenses</td>
                <td style="width:50%; padding:7px 10px; font-size:14px;"></td>
            </tr>
        </table>
        <br />
        <table width="500" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
            <tr>
                <th colspan="3" style="background: black;color: white;text-align: center; padding:10px; font-size:16px; font-weight:normal">PREMIUM SUMMARY</th>
            </tr>
            <tr></tr>
            <tr>
                <th style="width:50%; background: black;color: white;text-align: left; padding: 7px 10px; font-weight:normal">Policy period</th>
                <th style="background: black;color: white;text-align: center; padding:7px 10px;border-right:1px solid #000;  font-weight:normal">##PaymentTerm##</th>
            </tr>

            <tr>
                <td style="width:50%; padding:7px 10px; font-size:15px;">Basic Premium</td>
                <td style="width:50%; padding:7px 10px; border-right:1px solid #000;border-left:1px solid #000; font-size:14px;">$##PremiumDue##</td>
            </tr>
            <tr>
                <td style="width:50%; padding:7px 10px; font-size:15px;">Stamp Duty</td>
                <td style="width:50%; padding:7px 10px; border-right:1px solid #000;border-left:1px solid #000; font-size:14px;">$##StampDuty##</td>
            </tr>
            <tr>
                <td style="width:50%; padding:7px 10px; font-size:15px;">Motor Levy</td>
                <td style="width:50%; padding:7px 10px; border-right:1px solid #000;border-left:1px solid #000; font-size:14px;">$##MotorLevy##</td>
            </tr>
            <tr>
                <td style="width:50%; padding:7px 10px; font-size:15px;">Total Premium Due</td>
                <td style="width:50%; padding:7px 10px; border-right:1px solid #000;border-left:1px solid #000; font-size:14px;">$##TotalPremiumDue##</td>
            </tr>

        </table>
    </div>
</body>
</html>

