<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<style>
    table {
        border: 1px solid #000;
    }
</style>
<body>
    <div style="margin:0 auto; width:900px; font-family:arial;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
            <tr>
                <td colspan="3" style="background: black;color: white;text-align: center; padding: 5px;">POLICY SCHEDULE/SUMMARY OF YOUR COVER</td>
            </tr>
            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;"></td></tr>
            <tr>
                <td colspan="3" style="background: black;color: white;text-align: center; padding: 5px;">GENE-INSURE LOGO & REGISTRATION/CONTACT DETAILS</td>
            </tr>
            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;"></td></tr>

            <tr><td style="padding: 0 5px;"> <img src="http://geneinsurequote.kindlebit.com/Images/geneinsure-logo.png" /></td><td></td><td style="text-align:right;"> Genetic Financial Services<br />11 Routledge Street<br />Milton Park<br />Harere</td></tr>

            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;"></td></tr>

        </table>
        <br />
        <table width="900" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
            <tr>
                <td colspan="7" style="background: black;color: white;text-align: center; padding: 5px;">YOUR PERSONAL DETAILS</td>
            </tr>

            <tr>
                <td style="width:50%">
                    <table width="100%" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                        <tr>
                            <td width="70%" style="padding: 5px;">Policy Number: </td>
                            <td>##PolicyNo##</td>
                        </tr>
                        <tr>
                            <td width="70%" style="padding: 5px;">Policy Holder Name :</td>
                            <td>##FirstName## ##LastName##</td>
                        </tr>
                        <tr>
                            <td width="70%" style="padding: 5px;">Cell number:</td>
                            <td>##Cellnumber##</td>
                        </tr>
                        <tr>
                            <td width="70%" style="padding: 5px;">Alternative Contact Number</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td width="70%" style="padding: 5px;">Email Address </td>
                            <td>##Email##</td>
                        </tr>
                        <tr>
                            <td width="70%" style="padding: 5px;">Postal Address ##</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td width="70%" style="padding: 5px;">Date of Birth </td>
                            <td>##BirthDate##</td>
                        </tr>
                    </table>
                </td>
                <td style="width:10%"></td>
                <td style="width:40%">
                    <table width="100%" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                        <tr>
                            <td width="70%" style="padding: 5px;">Policy InceptionDate :</td>
                            <td>##InceptionDate##</td>
                        </tr>
                        <tr>
                            <td width="70%" style="padding: 5px;">Effective Date of this Endorsement </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td width="70%" style="padding: 5px;">Your Renewal Date: </td>
                            <td>##Renewal##</td>
                        </tr>
                        <tr>
                            <td width="70%" style="padding: 5px;">Your Package:</td>
                            <td>##package##</td>
                        </tr>
                        <tr>
                            <td width="70%" style="padding: 5px;">Physical Address </td>
                            <td>##Address1## ##Address2##</td>
                        </tr>
                        <tr>
                            <td width="70%" style="padding: 5px;">ID Number </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td width="70%" style="padding: 5px;">Frequency </td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>



        </table>


        <br />
        <table width="900" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
            <tr>
                <td colspan="7" style="background: black;color: white;text-align: center; padding: 5px;">SUMMARY OF YOUR COVER</td>
            </tr>
            <tr><td style="padding: 5px;">Vehicle description</td><td>Sum insured</td><td>Cover type</td><td>Vehicle usage</td><td>Sound system</td><td>Excess</td><td>Premium</td></tr>
            ##Summeryofcover##

        </table>
        <br />
        <table width="500" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
            <tr>
                <td colspan="2" style="width:70%;background: black;color: white;text-align: center; padding: 5px;">EXTENSIONS & OPTIONAL COVERS</td>
            </tr>
            <tr><td style="width:70%; padding:5px;">PASSENGER ACCIDENT COVER</td><td></td></tr>
            <tr><td style="width:70%; padding:5px;">Excess Buy Back</td><td></td></tr>
            <tr><td style="width:70%; padding:5px;">Roadside Assitance</td><td></td></tr>
            <tr><td style="width:70%; padding:5px;">Medical Expenses</td><td></td></tr>
        </table>
        <br />
        <table width="500" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
            <tr>
                <th colspan="3" style="background: black;color: white;text-align: center; padding: 5px;">PREMIUM SUMMARY</th>
            </tr>
            <tr></tr>
            <tr>
                <th style="width:70%; background: black;color: white;text-align: center; padding: 5px;">Policy period</th>
                <th style="background: black;color: white;text-align: center; padding: 5px;border-right:1px solid #000;">##PaymentTerm##</th>
            </tr>

            <tr>
                <td style="width:70%; padding:5px;">Premium Due</td>
                <td style="border-right:1px solid #000;border-left:1px solid #000;">$##PremiumDue##</td>
            </tr>
            <tr>
                <td style="width:70%; padding:5px;">Stamp Duty</td>
                <td style="border-right:1px solid #000;border-left:1px solid #000;">$##StampDuty##</td>
            </tr>
            <tr>
                <td style="width:70%; padding:5px;">Motor Levy</td>
                <td style="border-right:1px solid #000;border-left:1px solid #000;">$##MotorLevy##</td>
            </tr>
            <tr>
                <td style="width:70%; padding:5px;">Total Premium Due</td>
                <td style="border-right:1px solid #000;border-left:1px solid #000;">$##TotalPremiumDue##</td>
            </tr>

        </table>
    </div>
</body>
</html>
