<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">



<body>
    <div style="margin:0 auto; font-family:arial;">
        <table width="565" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; border: 1px solid #000; width:900px;">
            <tr>
                <td  bgcolor="#000" colspan="3" style="background:#000; color: white;text-align: center; padding:10px; font-size:16px;  word-break: break-all;">POLICY SCHEDULE/SUMMARY OF YOUR COVER</td>
            </tr>
            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;  word-break: break-all;"></td></tr>
            <tr>
                <td bgcolor="#000" colspan="3" style="background:#000; color: white;text-align: center; padding:10px; font-size:16px;  word-break: break-all;">GENE-INSURE LOGO & REGISTRATION/CONTACT DETAILS</td>
            </tr>
            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;  word-break: break-all;"></td></tr>

            <tr>
                <td style="padding: 0 5px;  word-break: break-all;"> <img src="http://geneinsurequote.kindlebit.com/Images/geneinsure-logo.png" /></td>
                <td></td>
                <td style="text-align:right; padding:0 10px; font-size:10px;  word-break: break-all;"> Genetic Financial Services<br />11 Routledge Street<br />Milton Park<br />Harere</td>
            </tr>

            <tr>
                <td style="height:20px;"></td>
                <td style="height:20px;"></td>
                <td style="height:20px;border-right:1px solid #000;"></td>
            </tr>

        </table>
        <br />
        <table width="565" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse; border: 1px solid #000; width:900px;">
            <tr>
                <td bgcolor="#000" colspan="2" style="background:#000; color: white;text-align: center; padding:10px; font-size:16px;  word-break: break-all;">YOUR PERSONAL DETAILS</td>
            </tr>

            <tr>
                <td width="280" valign="top" style="width:50%; padding:10px; vertical-align:top;  word-break: break-all;">
                    <table border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse; ">
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:11px;  word-break: break-all;">Policy Number: </td>
                            <td width="100" style="padding:7px 10px; font-size:10px;  word-break: break-all;">##PolicyNo##</td>
                        </tr>
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:11px;  word-break: break-all;">Policy Holder Name :</td>
                            <td width="100" style="padding:7px 10px; font-size:10px;  word-break: break-all;">##FirstName## ##LastName##</td>
                        </tr>
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:11px;  word-break: break-all;">Cell number:</td>
                            <td width="100" style="padding:7px 10px; font-size:10px;  word-break: break-all;">##Cellnumber##</td>
                        </tr>
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:11px;  word-break: break-all;">Alternative Contact Number</td>
                            <td width="100" style="padding:7px 10px; font-size:10px;  word-break: break-all;"></td>
                        </tr>
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:11px;  word-break: break-all;">Email Address </td>
                            <td width="100" style="padding:7px 10px; font-size:10px;  word-break: break-all;">##Email##</td>
                        </tr>
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:11px;  word-break: break-all;">Postal Address </td>
                            <td width="100" style="padding:7px 10px; font-size:10px;  word-break: break-all;">##PostalAddress##</td>
                        </tr>
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:11px;  word-break: break-all;">Date of Birth </td>
                            <td width="100" style="padding:7px 10px; font-size:10px;  word-break: break-all;">##BirthDate##</td>
                        </tr>
                    </table>
                </td>
                <td width="280" valign="top" style="width:50%; padding:10px; vertical-align:top;  word-break: break-all;">
                    <table border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse; border: 1px solid #000;">
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:11px;  word-break: break-all;">Policy InceptionDate :</td>
                            <td width="100" style="padding:7px 10px; font-size:10px;  word-break: break-all;">##InceptionDate##</td>
                        </tr>
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:11px;   word-break: break-all;">Effective Date of this Endorsement </td>
                            <td width="100" style="padding:7px 10px; font-size:14px;  word-break: break-all;"></td>
                        </tr>
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:11px;  word-break: break-all;">Your Renewal Date: </td>
                            <td width="100" style="padding:7px 10px; font-size:10px;  word-break: break-all;">##Renewal##</td>
                        </tr>
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:11px;  word-break: break-all;">Your Package:</td>
                            <td width="100" style="padding:7px 10px; font-size:10px;  word-break: break-all;">##package##</td>
                        </tr>
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:11px;  word-break: break-all;">Physical Address </td>
                            <td width="100" style="padding:7px 10px; font-size:10px;  word-break: break-all;">##Address1## ##Address2##</td>
                        </tr>
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:11px;  word-break: break-all;">ID Number </td>
                            <td width="100" style="padding:7px 10px; font-size:10px;  word-break: break-all;"></td>
                        </tr>
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:11px;  word-break: break-all;">Frequency</td>
                            <td width="100" style="padding:7px 10px; font-size:10px;  word-break: break-all;"></td>
                        </tr>
                    </table>
                </td>
            </tr>



        </table>


        <br />
        <table width="565" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse; border: 1px solid #000; width:900px;">
            <tr>
                <td  bgcolor="#000" colspan="7" style="background:#000; color: white;text-align: center; padding:10px; font-size:16px;">SUMMARY OF YOUR COVER</td>
            </tr>
            <tr>
                <td style="padding:7px 10px; font-size:10px; word-break: break-all;">Vehicle description</td>
                <td style="padding:7px 10px; font-size:10px; word-break: break-all;">Sum insured</td>
                <td style="padding:7px 10px; font-size:10px; word-break: break-all;">Cover type</td>
                <td style="padding:7px 10px; font-size:10px; word-break: break-all;">Vehicle usage</td>
                <td style="padding:7px 10px; font-size:10px; word-break: break-all;">Sound system</td>
                <td style="padding:7px 10px; font-size:10px; word-break: break-all;">Excess</td>
                <td style="padding:7px 10px; font-size:10px; word-break: break-all;">Premium</td>
            </tr>

            <tfoot>
                ##Summeryofcover##
            </tfoot>

        </table>
        <br />
        <table width="565" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse; border: 1px solid #000; width:900px;">
            <tr>
                <td bgcolor="#000" colspan="2" style="font-size:16px; font-size:16px; background: #000; color:#fff; text-align:center; padding:10px;">EXTENSIONS & OPTIONAL COVERS</td>
            </tr>
            <tr>
                <td style="width:50%;  padding:7px 10px; font-size:11px;">Passenger Accident Cover</td>
                <td style="width:50%; padding:7px 10px; font-size:10px; ">$##PassengerAccidentCover##</td>
            </tr>
            <tr>
                <td style="width:50%; padding:7px 10px; font-size:11px;">Excess Buy Back</td>
                <td style="width:50%; padding:7px 10px; font-size:10px;">$##ExcessBuyBackAmount##</td>
            </tr>
            <tr>
                <td style="width:50%; padding:7px 10px; font-size:11px;">Roadside Assitance</td>
                <td style="width:50%; padding:7px 10px; font-size:10px;">$##RoadsideAssistance##</td>
            </tr>
            <tr>
                <td style="width:50%; padding:7px 10px; font-size:11px;">Medical Expenses</td>
                <td style="width:50%; padding:7px 10px; font-size:10px;">$##MedicalExpenses##    </td>
            </tr>
        </table>
        <br />
        <table width="565" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse; border: 1px solid #000; width:900px;">
            <tr>
                <th bgcolor="#000" colspan="2" style="background:#000;color: white;text-align: center; padding:10px; font-size:16px; font-weight:normal; overflow-wrap: break-word;  word-break: break-all;">PREMIUM SUMMARY</th>
            </tr>
            <tr></tr>
            <tr>
                <th bgcolor="#000" width="280" style="width:50%; background:#000; color:#fff; text-align: left; padding:7px 10px; font-weight:normal; overflow-wrap: break-word; word-break: break-all;">Policy period</th>
                <th bgcolor="#000" width="280" style="background:#000; color:#fff; text-align: center; padding:7px 10px;border-right:1px solid #000;  font-weight:normal; overflow-wrap: break-word; word-break: break-all;">##PaymentTerm##</th>
            </tr>

            <tr>
                <td width="280" style="width:50%; padding:7px 10px; font-size:11px; overflow-wrap: break-word; word-break: break-all;">Basic Premium</td>
                <td width="280" style="width:50%; padding:7px 10px; border-right:1px solid #000;border-left:1px solid #000; font-size:10px; overflow-wrap: break-word; word-break: break-all;">$##PremiumDue##</td>
            </tr>
            <tr>
                <td width="280" style="width:50%; padding:7px 10px; font-size:11px; word-break: break-all;">Stamp Duty</td>
                <td width="280" style="width:50%; padding:7px 10px; border-right:1px solid #000;border-left:1px solid #000; font-size:10px; overflow-wrap: break-word; word-break: break-all;">$##StampDuty##</td>
            </tr>
            <tr>
                <td width="280" style="width:50%; padding:7px 10px; font-size:11px; overflow-wrap: break-word; word-break: break-all;">Motor Levy</td>
                <td width="280" style="width:50%; padding:7px 10px; border-right:1px solid #000;border-left:1px solid #000; font-size:10px; overflow-wrap: break-word; word-break: break-all;">$##MotorLevy##</td>
            </tr>

            <tr>
                <td width="280" style="width:50%; padding:7px 10px; font-size:11px; overflow-wrap: break-word; word-break: break-all;">Radio Licence Cost </td>
                <td width="280" style="width:50%; padding:7px 10px; border-right:1px solid #000;border-left:1px solid #000; font-size:10px; overflow-wrap: break-word; word-break: break-all;">$##RadioLicence##</td>
            </tr>
            <tr>
                <td width="280" style="width:50%; padding:7px 10px; font-size:11px; overflow-wrap: break-word; word-break: break-all;">Discount </td>
                <td width="280" style="width:50%; padding:7px 10px; border-right:1px solid #000;border-left:1px solid #000; font-size:10px; overflow-wrap: break-word; word-break: break-all;">$##Discount##</td>
            </tr>

            <tr>
                <td width="280" style="width:50%; padding:7px 10px; font-size:15px; overflow-wrap: break-word; word-break: break-all;">Total Premium Due</td>
                <td width="280" style="width:50%; padding:7px 10px; border-right:1px solid #000;border-left:1px solid #000; font-size:10px; overflow-wrap: break-word; word-break: break-all;">$##TotalPremiumDue##</td>
            </tr>

        </table>
    </div>
</body>
</html>

