<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<div style="margin:0 auto; width:900px; font-family:arial;">
    <table width="900" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
        <thead>
            <tr>
                <th style="width:50%; text-align:left;">
                    <img src="http://geneinsurequote.kindlebit.com/Images/geneinsure-logo.png" />
                </th>
                <th style="width:50%; text-align:left">
                    <div style="float:right">
                        <p style="font-size:12px; margin:0 0 3px 0;">Genetic Financial Services</p>
                        <p style="font-size:12px; margin:0 0 3px 0;">11 Routledge Street</p>
                        <p style="font-size:12px; margin:0 0 3px 0;">Milton Park</p>
                        <p style="font-size:12px; margin:0 0 3px 0;">Harare</p>
                    </div>
                </th>
            </tr>
        </thead>
    </table>
    <table width="900" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin:50px 0 0">
        <tbody>
            <tr>
                <td colspan="2" style="font-size:14px;">#TodayDate#</td>
            </tr>
            <tr>
                <td style="width:35%;">
                    <p style="margin:0 0 3px; padding:0 0; font-size:14px; color:#444;">#FirstName# #LastName#</p>
                    <p style="margin:0 0 3px; font-size:14px; color:#444;">#Address1#</p>
                    <p style="margin:0 0 3px; font-size:14px; color:#444;">#Address2#</p>
                </td>
                <td style="width:65%;">
                    <p style="margin:0 0 3px; font-size:14px; color:#444;">GENE-INSURE CONTACT</p>
                    <p style="margin:0 0 3px; font-size:14px; color:#444;">Call us on - 08677007491</p>
                    <p style="margin:0 0 3px; font-size:14px; color:#444;">Whatsapp us on – 0713 111 111</p>
                    <p style="margin:0 0 3px; font-size:14px; color:#000;"><strong>Email us on: service@gene-insure.co.zw</strong></p>
                </td>
            </tr>




        </tbody>
    </table>
    <br />
    <table border="0" bordercolor="#ccc" style="width:100%;     border-collapse: collapse;">
        <tbody>
            <tr>
                <th style="padding:8px; text-align:left; background:#eee;">Make/Model</th>
                <th style="padding:8px; background:#eee;">Policy Start Date</th>
                <th style="padding:8px; background:#eee;">Policy End Date</th>
                <th style="padding:8px; background:#eee; text-align:right">No of Cars</th>
                <th style="padding:8px; background:#eee; text-align:right">Price</th>
                <th style="padding:8px; background:#eee; text-align:right">Amount</th>
            </tr>

            <tr>
            <td style="padding:8px; border: none;">#Make#/#Model#</td>
            <td style="padding:8px; text-align:center;border: none;">#PolicyStartDate#</td>
            <td style="padding:8px; text-align:center;border: none;">#PolicyEndDate#</td>
            <td style="padding:8px; text-align:right;border: none;">#Quantity#</td>
            <td style="padding:8px; text-align:right;border: none;">#Price#</td>
            <td style="padding:8px; text-align:right;border: none;">#Amount#</td>

            </tr>
            <tr></tr>
            <tr>
                <td colspan="4" style="border: none; border-right:1px solid #ccc; border-top:1px solid #ccc; "></td>
                <td style="padding:8px; text-align:right;border-top:1px solid #ccc; border-right:1px solid #ccc;">Subtotal</td>
                <td style="padding:8px; text-align:right;border-top:1px solid #ccc; border-right:1px solid #ccc;">#Subtotal#</td>


            </tr>
            <tr>
                <td colspan="4" ]=] style="border: none; border-right:1px solid #ccc; "></td>
                <td style="padding:8px; text-align:right; border:none;border-right:1px solid #ccc; ">Discount ($0.00)</td>
                <td style="padding:8px; text-align:right; border:none; border-right:1px solid #ccc;">#Discount#</td>
            </tr>
            </tr>
            <tr>
                <td colspan="4" style="border: none; border-right:1px solid #ccc; "></td>
                <th style="padding:8px; text-align:right; border-right:1px solid #ccc; border-bottom:1px solid #ccc; background:#eee">Total</th>
                <th style=" padding:8px;text-align:right;border-right:1px=padding:8px;text-align:right;border-right:1px solid=solid #ccc;=#ccc; border-bottom:1px=border-bottom:1px solid=solid #ccc;background:#eee"=#ccc;background:#eee">#Total#</th>
            </tr>
        </tbody>
    </table>
    <hr />
    <table>
        <tbody>
            <tr>
                <td colspan="2" style="padding:20px 0 10px; color:#444; font-size:14px;">Thank you.</td>
            </tr>
            <tr>
                <td colspan="2" style="padding:20px 0 10px; color:#444; font-size:14px;">Yours Sincerely</td>
            </tr>
            <tr>
                <td colspan="2" style="padding:30px 0 10px; color:#444; font-size:14px;">GENERAL MANAGER – SALES</td>
            </tr>
        </tbody>
    </table>

</div>

<body>
</body>
</html>
