
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<style>
    .centered-form {
        margin-top: 60px;
    }

        .centered-form .panel {
            background: rgba(255, 255, 255, 0.8);
            box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
        }

    #errmsg {
        color: red;
    }
</style>
<div class="container">
    <div class="row centered-form">
        <!--Customer Info-->
        <div class="col-xs-12 col-sm-8 col-sm-offset-2" id="DivCustomerRegistration">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Customer Registration</h3>
                </div>
                <div class="panel-body">
                    <form id="formCustomer" method="post">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="address1" id="address1" class="form-control input-sm" placeholder="Address1">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" name="Address2" id="Address2" placeholder="Address2" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="Country" id="Country" class="form-control input-sm" placeholder="Country">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" name="state" id="state" placeholder="State" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="City" id="City" class="form-control input-sm" placeholder="City">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" name="zip_code" id="zip_code" placeholder="Zip Code" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="date" name="DateofBirth" id="DateofBirth" class="form-control input-sm" placeholder="DOB">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" id="phone_number" name="phone_number" placeholder="Phone Number" /><span id="errmsg"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <select class="form-control input-sm" id="customer_gender" name="customer_gender">
                                        <option value="0">Select Gender</option>
                                        <option value="1">Male</option>
                                        <option value="2">Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Next" id="buttonNextCustomer" class="btn btn-info btn-block pull-right">
                    </form>
                </div>
            </div>
        </div>

        <!--Product Info-->
        @*<div class="col-xs-12 col-sm-8 col-sm-offset-2" id="DivProductInfo">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Product Info</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="Customer Name">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Contact Number">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <textarea class="form-control input-sm" placeholder="Address"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="date" name="DateofBirth" id="DateofBirth" class="form-control input-sm" placeholder="DOB">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <select class="form-control input-sm">
                                            <option value="0">Select Gender</option>
                                            <option value="1">Male</option>
                                            <option value="2">Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <input type="submit" value="Next" class="btn btn-info btn-block pull-right">

                        </form>
                    </div>
                </div>
            </div>*@
    </div>
</div>

<script src="~/Scripts/CustomerRegistration/CustomerRegistration.js"></script>
